<form class="form-container" action="">
    <div class="inputs-forms">
  <input required id="name" type="text" name="name" placeholder="Nom" />
  <input
    required
    id="firstname"
    type="text"
    name="firstname"
    placeholder="Prénom"
  />
  <input required id="email" type="email" name="email" placeholder="Email" />
  <input
    required
    id="password"
    type="password"
    name="password"
    placeholder="Mot de passe"
    minlength="8"
  />
  <input
    required
    id="password-verification"
    type="password"
    name="password-verification"
    placeholder="Mot de passe"
  />
</div>
</form>
<button class="btn-submit-form" type="submit">Validation</button>
