<button (click)="togglePublication()">
  {{article.isPublished ? 'Masquer l\'article' : 'Afficher l\'article' }}
</button>

<div *ngIf="article.isPublished" class="article-container">
    <h1 class="title-article">
      {{article.title}}
    </h1>
    <span class="title-article">{{article.author}}</span>
    <img [src]="article.image" [alt]="article">
    <p class="text-article">
     {{article.content}}
    </p>
    <span>{{article.comment}}</span>
    <input [(ngModel)]="article.comment" type="text" placeholder="Ecrivez un commentaire">
</div>
<div *ngIf="childData">
  <h1>Détails de l'article</h1>
  <p>ID du produit : {{childData.id}}</p>
  <p>Nom du produit : {{childData.name}}</p>
  <p>Prix du produit : {{childData.price}}</p>
</div>