<div class="header-page">
<h1 class="title-header-catalog">Ceci est le catalogue de notre magasin : </h1>
<nav>
    <a routerLink="/cart">Mon Panier</a>
  </nav>
</div>

<div class="catalog-container">

    @for (product of products; track product.id) {
        
        <div class="article-card">
            <h1 class="title-product"> {{product.name}} </h1>
            <p class="price-product"> {{product.price}} </p>
            <button (click)="navigateTo(product.id)">Voir l'article</button>
            @if (product.promo.hasPromo) {
                <p [ngClass]="{'green': parsePromotionValue(product.promo.value) < -20, 'black': parsePromotionValue(product.promo.value) >= -20}" class="promo-product">
                    {{ product.promo.getDisplayValue() }}
                </p>                
                <p class="promo-product"> Temps restants : {{product.promo.getRemainingTime()}}</p>
            } @else {
                <p>{{ noPromoMessage(product) }}</p>
            }
            <button (click)="addToCart(product)" class="button-add">Ajouter au panier</button>
        </div>
    }
</div>
<app-article [childData]="parentData"></app-article>